---
layout: minimal
title: Main header
---

<header class="main-header dark">
    <div class="main-header-wrapper content-width">
        <h1 class="main-header-heading">
            <a href="/">
                <img src="/assets/gnome-logo-compact.svg" alt="GNOME">
                <span>Extensions</span>
            </a>
        </h1>

        <nav class="main-header-nav">
            <ul>
                <li>
                    <a href="/" aria-current="page">
                        <img src="/assets/top-bar-icon-extensions.svg" alt="">
                        <span>Explore</span>
                    </a>
                </li>
                <li>
                    <a href="/installed">
                        <img src="/assets/top-bar-icon-installed.svg" alt="">
                        <span>Installed</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <img src="/assets/top-bar-icon-about.svg" alt="">
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-header-actions">
            <button id="log-in-button" aria-haspopup="true" aria-expanded="false" popovertarget="log-in-popover">Log in</button>

            {% include 'popover-log-in.html' %}
            {% include 'popover-logged-in.html' %}

            <button class="icon-button flat" aria-haspopup="true" aria-expanded="false" popovertarget="main-menu-popover" aria-label="Main menu">
                <svg height="16px" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path d="m 1 2 h 14 v 2 h -14 z m 0 0"/><path d="m 1 7 h 14 v 2 h -14 z m 0 0"/><path d="m 1 12 h 14 v 2 h -14 z m 0 0"/></g></svg>
            </button>

            <div id="main-menu-popover" popover="auto" class="popover" role="menu">
                <div class="menu">
                    <a role="menuitem" href="/">Menu item 1</a>
                    <a role="menuitem" href="/">Menu item 2</a>
                </div>
            </div>
        </div>
    </div>
</header>