<!-- #region [ Internal tooling: views/_includes/_tooling.html ]-->
<div id="_tooling" class="osd">
    <button class="_tooling-control" aria-label="Configure view" aria-haspopup="true" aria-expanded="false" popovertarget="_tooling-popover">
        <img class="symbolic" src="/assets/icons/wrench-wide-symbolic.svg" alt="">     
    </button>

    <dialog popover="auto" id="_tooling-popover" aria-labelledby="_tooling-popover-heading">
        <div class="box vertical spacing-small">
            <header>
                <h2 id="_tooling-popover-heading" class="title-3">Page variation</h2>
            </header>


            <ul class="menu" role="menu">
                {% if _page_variations %}
                    {% for slug, title in _page_variations %}
                    <li role="menuitemradio" {%- if slug == page.url %} aria-checked="true" {%- endif %}>
                        <a href="{{ slug }}">{{ title }}</a>
                    </li>
                    {% endfor %}
                {% endif %}

                <li role="presentation" class="separator"></li>

                <li role="menuitem">
                    <a href="/_sitemap">
                        <img class="symbolic" src="/assets/icons/map-symbolic.svg" alt="">
                        <span class="label">Site map</span>
                    </a>
                </li>
            </ul>
        </div>
    </dialog>
</div>
<!-- #endregion -->