<button class="icon-button flat" aria-haspopup="true" aria-expanded="false" popovertarget="main-menu-popover" aria-label="Main menu">
    <svg height="16px" viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path d="m 1 2 h 14 v 2 h -14 z m 0 0"/><path d="m 1 7 h 14 v 2 h -14 z m 0 0"/><path d="m 1 12 h 14 v 2 h -14 z m 0 0"/></g></svg>
</button>

<div id="main-menu-popover" popover="auto" class="popover" role="menu">
    <ul class="menu">
        <li><a role="menuitem" href="/">Add your extension</a></li>
        <li><a role="menuitem" href="/" class="external">Developer Guide</a></li>
        <li role="presentation" class="menu-separator"></li>
        <li><a role="menuitem" href="/">Site Map</a></li>
        <li><a role="menuitem" href="/">About GNOME</a></li>
    </ul>
</div>