<!-- #region [ views/_includes/main-header.html ]-->
<header class="main-header dark">
    <div class="main-header-wrapper content-width">
        <h1 class="main-header-heading">
            <a href="/">
                <img src="/assets/gnome-logo-compact.svg" alt="GNOME">
                <span>Extensions</span>
            </a>
        </h1>

        <nav class="main-header-nav">
            <ul>
                <li>
                    <a href="/"
                        {%- if (r/^\/extensions.*/g.test(page.url)) or (page.url == '/') %} aria-current="page" {%- endif -%}
                    >
                        <!--<img src="/assets/top-bar-icon-extensions.svg" alt="">-->
                        <span>Explore</span>
                    </a>
                </li>
                <li>
                    <a href="/installed"
                        {%- if r/^\/installed.*/g.test(page.url) %} aria-current="page" {%- endif -%}
                    >
                        <!--<img src="/assets/top-bar-icon-installed.svg" alt="">-->
                        <span>Installed</span>
                    </a>
                </li>
                <li>
                    <a href="/about"
                        {%- if r/^\/about.*/g.test(page.url) %} aria-current="page" {%- endif -%}
                    >
                        <!--<img src="/assets/top-bar-icon-about.svg" alt="">-->
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-header-actions">
            <button id="log-in-button" aria-haspopup="true" aria-expanded="false" popovertarget="log-in-popover" class="button flat button--dropdown">
                Log in
            </button>

            {% include 'popover-log-in.html' %}
            {% include 'popover-logged-in.html' %}

            {% include 'main-menu.html' %}
        </div>
    </div>
</header>
<!-- #endregion -->