
<header id="main-header">
    <div>
        <h1>
            <a href="/">
                <img class="full-logo" src="/assets/gnome-logo-full.svg" alt="GNOME Extensions">
                <img class="compact-logo" src="/assets/gnome-logo-compact.svg" alt="GNOME Extensions">
            </a>
        </h1>

        <nav>
            <ul>
                <li>
                    <a href="/"
                        {%- if (r/^\/extensions.*/g.test(page.url)) or (page.url == '/') %} aria-current="page" {%- endif -%}
                    >
                        <img src="/assets/top-bar-icon-extensions.svg" alt="">
                        <span>Extensions</span>
                    </a>
                </li>
                <li>
                    <a href="/installed"
                        {%- if r/^\/installed.*/g.test(page.url) %} aria-current="page" {%- endif -%}
                    >
                        <img src="/assets/top-bar-icon-installed.svg" alt="">
                        <span>Installed</span>
                    </a>
                </li>
                <li>
                    <a href="/about"
                        {%- if r/^\/about.*/g.test(page.url) %} aria-current="page" {%- endif -%}
                    >
                        <img src="/assets/top-bar-icon-about.svg" alt="">
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="user-area">
            <button id="log-in-button" aria-haspopup="true" aria-expanded="false" popovertarget="log-in-popover">Log in</button>

            {% include 'popover-log-in.html' %}
            {% include 'popover-logged-in.html' %}
        </div>
    </div>
</header>