<ul class="nav-list">
    <li>
        <a href="/manage-extension/#detail"
            {%- if '/manage-extension/' == page.url %} aria-current="page" {%- endif -%}
        >
            <img src="/assets/icon-info.svg" alt="">
            <span class="label">Extension details</span>
        </a>
    </li>
    <li>
        <a href="/manage-extension/versions"
            {%- if '/manage-extension/versions/' == page.url %} aria-current="page" {%- endif -%}
        >
            <img src="/assets/icon-version.svg" alt="">
            <span class="label">Versions</span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/assets/icon-image.svg" alt="">
            <span class="label">Icon &amp; Screenshot</span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/assets/icon-comments.svg" alt="">
            <span class="label">User comments</span>
        </a>
    </li>
    <li class="separator" role="presentation"></li>
    <li>
        <a href="#">
            <img src="/assets/icon-help.svg" alt="">
            <span class="label">Help</span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/assets/icon-return.svg" alt="">
            <span class="label">Back to extension page</span>
        </a>
    </li>
</ul>