<div id="log-in-popover" popover="auto" class="popover">
    <div class="box vertical pad-medium spacing-medium">
        <div class="field-group full-width">
            <label for="log-in-email">Email</label>
            <input id="log-in-email" type="text" class="text-field">
        </div>
        <div class="field-group full-width">
            <label for="log-in-password">Password</label>
            <input id="log-in-password" type="password" class="text-field">
        </div>

        <button type="submit" class="suggested button full-width">Log in</button>

        <hr class="popover-divider">

        <a href="/" class="button full-width">Create account...</a>
    </div>
</div>