<!-- #region [ views/_includes/scripts.html ]-->
<script type="text/javascript" src="/scripts/vendor/popover.iife.min.js"></script>
<script type="text/javascript" src="/scripts/vendor/popper.min.js"></script>
<script type="text/javascript" src="/scripts/popover.js"></script>
<!-- #endregion -->