#_tooling ._tooling-control {
    position: fixed;
    background: #333;
    border: none;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    padding: 8px;
    bottom: 16px;
    left: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.16);
}
#_tooling ._tooling-control svg {
    display: block;
    width: 16px;
    height: 16px;
}
#_tooling ._tooling-control[aria-expanded="true"] {
    z-index: 100;
}

#_tooling-popover {
    display: none;
    position: fixed;
    flex-direction: column;
    background: #333;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.16), 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    border-radius: 14px;
    margin: 0;
    padding: 12px;
    width: 256px;
    inset: unset;
    /*left: 16px;
    bottom: 56px;*/
    opacity: 0;
    transform-origin: bottom left;
    transition: opacity 60ms linear;
    z-index: 90;
}
#_tooling-popover:popover-open {
	display: flex;
	animation: _tooling-popover-open 200ms cubic-bezier(0, 0, 0, 1) forwards;
    opacity: 1;
}
#_tooling-popover.\:popover-open {
	display: flex;
	animation: _tooling-popover-open 200ms cubic-bezier(0.25, 1, 0.5, 1) forwards;
    opacity: 1;
}

@keyframes _tooling-popover-open {
    from {
        scale: 0.5;
        border-radius: 32px;
    }
    to {
        scale: 1;
        border-radius: 16px;
    }
}