#_page-ui-patterns {
    
}
#_page-playground > hgroup {
    
}

._pattern-item {
    --margin: 1rem;
    margin-block: var(--margin);
}

@media (min-width: 1200px) {
    ._playground-item {
        --margin: 2rem;
    }
}
@media (min-width: 1400px) {
    ._playground-item {
        --margin: 2rem;
    }
}


._pattern-item ._title {
    font-size: var(--text-size-small);
    font-weight: bold;
    max-width: 65ch;
    margin-block-end: 1rem;
}
._pattern-item ._description {
    max-width: 65ch;
    font-size: var(--text-size-small);
    color: var(--text-color-secondary);
    margin-block-end: 1rem;
}
._pattern-item ._title + ._description {
    margin-block-start: -0.5rem;
}
._pattern-item ._frame {
    position: relative;
    background: var(--box-background);
    outline: 1px solid #ccc;
    outline-offset: 1px;
    border-radius: 1px;
}
._pattern-item ._frame.padded {
    padding: var(--box-padding);
}