{#
<!--

Base layout for all pages

Available variables:
- title         (string or array)
- body_class

-->
-#}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Source: {{ page.inputPath }} -->
    <!-- Layout: {{ layout }} -->
	<meta charset="UTF-8">
	<title>
        {%- if title -%}
            {%- if title is string -%}
                {{ title }} {{- siteinfo.title_separator -}} {{ siteinfo.title }}
            {%- else -%}
                {{ title | join(siteinfo.title_separator) }} {{- siteinfo.title_separator -}} {{ siteinfo.title }}
            {%- endif -%}
        {%- else -%}
            {{ siteinfo.title }}
        {%- endif -%}
    </title>
    {% include 'meta.html' %}
</head>

<body
    {%- if body_class %}
        class="{{ body_class }}"
    {%- endif -%}
>
{{ content | safe }}
</body>
</html>