---
layout: base
---

{% include 'main-header.html' %}

<div class="content-wrapper">
    {{- content | safe -}}
</div>

{% include 'main-footer.html' %}

{% include '_tooling.html' %}

{% include 'scripts.html' %}