/* Extension header */
/* fixme: name conflicts with sweettooth.css class */
.extension-header {
	display: flex;
	gap: 1rem;
}
.extension-header img.extension-icon {
	width: 3rem; /* 48px */
	height: 3rem;
}
.extension-header hgroup {
	flex: 1 1 auto;
}
.extension-header hgroup h2 {
	font-size: 1.5rem; /* 24px */
	line-height: normal;
	margin-bottom: 0;
}
.extension-header hgroup p {
	margin-top: 0;
	font-size: var(--text-size-small);
	color: var(--text-color-secondary);
}
.extension-header hgroup a {
	color: inherit;
}

/* Extension details */

.extension-details {
	display: grid;
	gap: var(--box-padding);
	grid-template-areas:
		"description thumbnail"
		" metadata  metadata"
	;
}

.extension-details .extension-description {
	grid-area: description;
}

.extension-details .extension-thumbnail {
	grid-area: thumbnail;
	/*min-width: 120px;*/
}
.extension-details .extension-thumbnail img {
	border-radius: var(--action-radius);
	max-width: 240px;
}

/* Extension metadata */

.extension-metadata {
	grid-area: metadata;
	border-top: 1px solid var(--box-divider);
	padding-top: var(--box-padding);
	margin-inline: calc(var(--box-padding) * -1);
	padding-inline: var(--box-padding);
}

.extension-metadata dl {
	display: grid;
	grid-template-columns: auto 1fr;
	font-size: var(--text-size-small);
}
.extension-metadata dl dt {
	grid-column: 1;
	font-weight: normal;
	margin-inline-end: 1rem;
	color: var(--text-color-secondary);
}
.extension-metadata dl dd {
	grid-column: 2;
}
.extension-metadata dd.single-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Extension actions */

.extension-actions {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
	flex-wrap: wrap;
}
.extension-actions .spacer {
	flex: 1 0 auto;
}

/* Download popover */

#download-popover {
	display: none;
}

#download-popover:popover-open {
	display: block;
}
#download-popover.\:popover-open {
	display: block;
}

/* User reviews */

.user-reviews h3 {
	font-size: var(--text-size-default);
	margin-bottom: 0.5rem;
}
.user-reviews .show-more {
	display: block;
	text-align: center;
	margin: calc(var(--box-padding) * -0.5);
	color: var(--text-color-link);
	font-weight: bold;
	text-decoration: none;
	padding: 0.7em 1em;
	border-radius: var(--action-radius);
	background: var(--action-flat-background);
	transition: var(--action-background-transition);
}
.user-reviews .show-more:hover {
	background: var(--action-flat-background-hover);
}
.user-reviews .show-more:active {
	background: var(--action-flat-background-active);
}

/* User review */

.user-review {
	font-size: var(--text-size-small);
}
.user-review .date {
	color: var(--text-color-secondary);
	font-size: inherit;
	font-weight: normal;
	float: right;
	margin-inline-start: 1rem;
}
.user-review .rating {
	display: flex;
	float: left;
	margin-inline-end: 0.5rem;
}
.user-review .rating .star {
	position: relative;
	top: 2px;
	display: block;
	background: url(/assets/icon-star.svg) no-repeat center center;
	width: 16px;
	height: 16px;
}
.user-review .rating .star:not(.filled) {
	filter: grayscale(100%);
	opacity: 0.42;
}
.user-review .user-review-body {
	max-width: 37.5rem; /* 600px */
}
.user-review .user-review-body p:not(:last-of-type) {
	margin-bottom: 0.5rem;
}
.user-review .user-review-body p:first-of-type::first-line {
	font-weight: bold;
}
.user-review footer {
	margin-top: 0.5rem;
	color: var(--text-color-secondary);
}
.user-review footer a {
	color: inherit;
}

@media (width <= 768px) {
	.user-review .rating {
		float: none;
		margin-block-end: 0.5rem;
	}
}