#download-popover {
    position: absolute;
	inset: unset;
	background: var(--popover-background);
	box-shadow: var(--popover-shadow);
	border-radius: var(--popover-radius);
	border: none;
    padding: 0;
}

/* Popover layout */

#download-popover .popover-body {
    display: flex;
}
#download-popover .popover-body .gnome-version,
#download-popover .popover-body .extension-version {
    overflow: auto;
    padding: 6px;
    max-height: 240px;
}
#download-popover .popover-body h4 {
    margin: 0;
    padding: 4px 10px;
    font-size: var(--text-size-small);
}
#download-popover .popover-body .gnome-version {
    border-right: 1px solid var(--box-divider);
}
#download-popover .popover-body ul {
    list-style: none;
    padding: 0;
}

/* First column: GNOME version */

#download-popover .popover-body .gnome-version h4 {
    font-weight: normal;
    color: var(--text-color-secondary);
}
#download-popover .popover-body .gnome-version ul a {
    display: block;
    padding: 4px 10px;
    background: var(--action-flat-background);
    border-radius: var(--action-radius);
    color: inherit;
    text-decoration: none;
}
#download-popover .popover-body .gnome-version ul a:hover {
    background: var(--action-flat-background-hover);
}
#download-popover .popover-body .gnome-version ul a:active {
    background: var(--action-flat-background-active);
}
#download-popover .popover-body .gnome-version ul a[aria-selected="true"] {
    background: var(--action-flat-background-active);
    position: relative;
}
#download-popover .popover-body .gnome-version ul a[aria-selected="true"]:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../assets/check-plain-symbolic.svg);
    inset-inline-end: 10px;
    inset-block-start: 50%;
    margin-top: -8px;
    opacity: 0.6;
}

/* Second column: Extension version */

#download-popover .popover-body .extension-version li {
    margin: 4px 10px;
    display: grid;
    grid-template-areas:
        "version-number download"
        "date-published download";
    column-gap: 2em;
}
#download-popover .popover-body .extension-version li:not(:last-of-type) {
    border-block-end: 1px solid var(--box-divider);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#download-popover .popover-body .extension-version li:last-of-type {
    padding-bottom: 5px;
}
#download-popover .popover-body .extension-version li .version-number {
    grid-area: version-number;
}
#download-popover .popover-body .extension-version li .date-published {
    grid-area: date-published;
    font-size: var(--text-size-small);
    color: var(--text-color-secondary);
    display: block;
}
#download-popover .popover-body .extension-version li a.download {
    display: block;
    grid-area: download;
    padding: 8px;
    background: var(--action-flat-background);
    border-radius: var(--action-radius);
    height: 32px;
    color: var(--text-color-secondary);
    text-decoration: none;
    transition: background-color 80ms linear, color 80ms linear;
}
#download-popover .popover-body .extension-version li a.download svg {
    width: 16px;
    height: 16px;
    fill: inherit;
}
#download-popover .popover-body .extension-version li a.download:hover {
    background: var(--action-flat-background-hover);
    color: var(--text-color-primary);
}
#download-popover .popover-body .extension-version li a.download:active {
    background: var(--action-flat-background-active);
}
#download-popover .popover-body .extension-version li:first-of-type a.download {
    background: var(--action-suggested-background);
    color: white;
}
#download-popover .popover-body .extension-version li:first-of-type a.download:hover {
    background: var(--action-suggested-background-hover);
}
#download-popover .popover-body .extension-version li:first-of-type a.download:active {
    background: var(--action-suggested-background-active);
}