/* List search */

.list-search form {
    display: flex;
    gap: 0.5rem;
}
.list-search .search-field-wrapper {
    flex: 1 1 auto;
}
.list-search input[type="search"] {
    width: min(256px, 100%);
    background: url(/assets/icon-search.svg) no-repeat; 
    background-position: 1em center;
    background-color: var(--action-raised-background);
    border: none;
    border-radius: 100px;
    padding: 0.5em 1em;
    padding-inline-start: calc(1.5em + 16px);
}

/* Extensions list */

.card.extensions-list {
    padding: calc(var(--box-radius) / 2);
}
.extensions-list > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.extensions-list li:not(:last-child) {
    border-bottom: 1px solid var(--box-divider);
    padding-bottom: 0.5rem;
    margin-block-end: 0.5rem;
}
.extensions-list a {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    color: inherit;
    text-decoration: none;
    border-radius: calc(var(--box-radius) / 2);
}
.extensions-list a:hover {
    background: var(--action-flat-background-hover);
}
.extensions-list a:active {
    background: var(--action-flat-background-active);
}
.extensions-list .extension-icon {
    flex: 0 0 auto;
    width: 3em; /* 48px */
	height: 3em;
}
.extensions-list .item-details {
    flex: 1 1 auto;
}
.extensions-list .item-details strong {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.extensions-list .item-details .description {
    color: var(--text-color-secondary);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Pagination */
/* Fixme: name conflicts with bootstrap's .pagination */

.pagination {
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    margin-inline: auto;
}
.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}
.pagination a {
    display: block;
    padding: 0.5rem;
    line-height: 1rem;
    height: 2rem;
    min-width: 2rem;
    box-shadow: inset 0 0 0 1px var(--box-divider);
    text-align: center;
    border-radius: 100px;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: var(--action-background-transition);
}
.pagination a.number {
    min-width: 2rem;
    height: 2rem;
    background: var(--action-flat-background);
}
.pagination a.number:hover {
    background: var(--action-flat-background-hover);
}
.pagination a.number:active {
    box-shadow: none;
    background: var(--action-flat-background-active);
}
.pagination a.number.current {
    font-weight: bold;
    background: var(--action-raised-background);
    box-shadow: none;
}
.pagination a.number.current:hover {
    background: var(--action-raised-background-hover);
}
.pagination a.number.current:active {
    background: var(--action-raised-background-active);
}
.pagination .ellipsis {
    font-weight: bold;
    color: var(--text-color-secondary);
}
.pagination a.prev,
.pagination a.next {
    padding-inline: 1rem;
    font-weight: bold;
    background: var(--action-raised-background);
    box-shadow: none;
}
.pagination a.prev:hover,
.pagination a.next:hover {
    background: var(--action-raised-background-hover);
}
.pagination a.prev:active,
.pagination a.next:active {
    background: var(--action-raised-background-active);
}

@media (width <= 768px) {
    .pagination {
        gap: 1rem;
    }
    .pagination ul {
        display: none;
    }
}