:root {
	--text-color-primary: #3d3846;
	--text-color-secondary: #5C5C64;
	--text-color-link: #3584E4;
	--text-family: Cantarell, ui-system, sans-serif;
	--text-size-default: 1rem; /* 16px */
	--text-size-small: 0.875rem; /* 14px (14 / 16) */
	--border-color: rgba(0, 0, 0, 0.16);

	--body-background: #fafafa;

	/* common spacing */
	--spacing-none:   0;
	--spacing-4:  0.25rem; /* 4px */
    --spacing-8:  0.5rem;  /* 8px */
	--spacing-12: 0.75rem; /* 12px */
    --spacing-16: 1rem;    /* 16px */
	--spacing-20: 1.25rem; /* 20px */
    --spacing-24: 1.5rem;  /* 24px */


	/* fixme: rename to card */
	--box-background: #fff;
	--box-divider: rgba(0, 0, 0, 0.16);
	--box-padding: 1.5rem; /* 16px */
	--box-radius: 13px;
	--box-shadow:
		0 2px 6px 2px rgba(0, 0, 0, 0.03),
		0 1px 3px rgba(0, 0, 0, 0.07),
		0 0 0 1px rgba(0, 0, 0, 0.03);

	/* popover */
	--popover-background: #fff;
	--popover-radius: 10px;
	--popover-shadow:
		0 4px 16px rgba(0, 0, 0, 0.16),
		0 1px 3px rgba(0, 0, 0, 0.07),
		0px 0px 0px 1px rgba(0, 0, 0, 0.03);
	--popover-arrow-shadow:
		2px 2px 16px rgba(0, 0, 0, 0.16),
		1px 1px 3px rgba(0, 0, 0, 0.07),
		0px 0px 0px 1px rgba(0, 0, 0, 0.03);

	/* page: where the contents live */
	--page-margin: 2rem; /* 32px */
	--page-content-width: 50rem; /* 800px */
	--page-content-width-small: 50rem; /* fixme: normal width + considering sidebar */
	--page-content-width-large: 92rem; /* 1472px */
	--page-content-min-height: calc(100dvh - var(--header-height));

	/* top page header */
	--header-height: 60px;
	--header-background: #26A269;
	--header-background-hover: #27AF71;
	--header-background-active: #1E8F5C;

	/* main header */
	--header-text-color: #fff;
	--header-background: var(--dark3);
	--header-background-hover: hsl(0 0% 100% / 0.08);
	--header-background-active: hsl(0 0% 100% / 0.24);

	/* easings */
	--ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);

	/* common action styles */
	--action-radius: 6px;
	--action-background-transition: background-color 80ms var(--ease-out-quad);

	/* menu */
	--menu-margin: 6px;
	--menu-item-padding-inline: 12px;

	/* Actions: theme-unaware styles */
	--action-light-raised-background: hsl(0 0% 0% / 0.08);
	--action-light-raised-background-hover: hsl(0 0% 0% / 0.16);
	--action-light-raised-background-active: hsl(0 0% 0% / 0.20);
	--action-light-flat-background: hsl(0 0% 0% / 0);
	--action-light-flat-background-hover: hsl(0 0% 0% / 0.08);
	--action-light-flat-background-active: hsl(0 0% 0% / 0.16);
	--action-dark-raised-background: hsl(0 0% 100% / 0.08);
	--action-dark-raised-background-hover: hsl(0 0% 100% / 0.16);
	--action-dark-raised-background-active: hsl(0 0% 100% / 0.20);
	--action-dark-flat-background: hsl(0 0% 100% / 0);
	--action-dark-flat-background-hover: hsl(0 0% 100% / 0.08);
	--action-dark-flat-background-active: hsl(0 0% 100% / 0.16);

	/* Actions: theme-aware styles */
	--action-raised-background: var(--action-light-raised-background);
	--action-raised-background-hover: var(--action-light-raised-background-hover);
	--action-raised-background-active: var(--action-light-raised-background-active);
	--action-flat-background: var(--action-light-flat-background);
	--action-flat-background-hover: var(--action-light-flat-background-hover);
	--action-flat-background-active: var(--action-light-flat-background-active);

	--action-suggested-background: #3584E4;
	--action-suggested-background-hover: #4990E7;
	--action-suggested-background-active: #216AC2;

	--action-suggested-foreground: #fff;

	/* typography styles */
	--style-title-1-size: 1.6875rem; /* 27 / 16 */
	--style-title-2-size: 1.25rem; /* 20 / 16 */
	--style-title-3-size: 1.0625rem; /* 17 / 16 */
	--style-title-4-size: 1rem;

	/*color-scheme: light dark;*/

	/* GNOME HIG Palette */
	/* https://developer.gnome.org/hig/reference/palette.html */
	--blue1: rgb(153, 193, 241);
	--blue2: rgb(98, 160, 234);
	--blue3: rgb(53, 132, 228);
	--blue4: rgb(28, 113, 216);
	--blue5: rgb(26, 95, 180);
	--green1: rgb(143, 240, 164);
	--green2: rgb(87, 227, 137);
	--green3: rgb(51, 209, 122);
	--green4: rgb(46, 194, 126);
	--green5: rgb(38, 162, 105);
	--yellow1: rgb(249, 240, 107);
	--yellow2: rgb(248, 228, 92);
	--yellow3: rgb(246, 211, 45);
	--yellow4: rgb(245, 194, 17);
	--yellow5: rgb(229, 165, 10);
	--orange1: rgb(255, 190, 111);
	--orange2: rgb(255, 163, 72);
	--orange3: rgb(255, 120, 0);
	--orange4: rgb(230, 97, 0);
	--orange5: rgb(198, 70, 0);
	--red1: rgb(246, 97, 81);
	--red2: rgb(237, 51, 59);
	--red3: rgb(224, 27, 36);
	--red4: rgb(192, 28, 40);
	--red5: rgb(165, 29, 45);
	--purple1: rgb(220, 138, 221);
	--purple2: rgb(192, 97, 203);
	--purple3: rgb(145, 65, 172);
	--purple4: rgb(129, 61, 156);
	--purple5: rgb(97, 53, 131);
	--brown1: rgb(205, 171, 143);
	--brown2: rgb(181, 131, 90);
	--brown3: rgb(152, 106, 68);
	--brown4: rgb(134, 94, 60);
	--brown5: rgb(99, 69, 44);
	--light1: rgb(255, 255, 255);
	--light2: rgb(246, 245, 244);
	--light3: rgb(222, 221, 218);
	--light4: rgb(192, 191, 188);
	--light5: rgb(154, 153, 150);
	--dark1: rgb(119, 118, 123);
	--dark2: rgb(94, 92, 100);
	--dark3: rgb(61, 56, 70);
	--dark4: rgb(36, 31, 49);
	--dark5: rgb(0, 0, 0);

	--accent-color: var(--blue3);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* ... */
	}
}

/* narrow viewports */
@media (width <= 768px) {
	:root {	
		--page-margin: 1rem; /* 32px */
		--box-padding: 1rem; /* 16px */
	}
}
@media (width <= 500px) {
	:root {
		font-size: 87.5%;
		/*--text-size-default: 0.875rem;*/ /* 14px */
		/*--text-size-small: 0.8125rem;*/ /* 13px */	
	}
}