---
title: GNOME Extensions
layout: default
---
<div class="content">
	<main>
		<div class="list-search">
			<form role="search">
				<div class="search-field-wrapper">
					<input type="search" placeholder="Search extensions" aria-label="Search extensions">
				</div>
				
				<button>Sort</button>
				<button>Compatibility</button>
			</form>
		</div>

		<div class="card extensions-list flushed-when-narrow">
			<ul>
				{% for i in [1,2,3] %}
				<li>
					<a href="/extensions/detail">
						<img src="/assets/icon-extension.svg" alt="" class="extension-icon" />
						<div class="item-details">
							<strong>${ExtensionName}</strong>
							<span class="description">${Description}</span>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		<div class="pagination">
			<!--<a href="#" class="prev" rel="prev">Previous page</a>-->

			<ul>
				<li><a href="#" class="number current">1</a></li>
				<li><a href="#" class="number">2</a></li>
				<li><a href="#" class="number">3</a></li>
				<li><span class="ellipsis">&hellip;</span></li>
				<li><a href="#" class="number">28</a></li>
			</ul>

			<a href="#" class="next" rel="next">Next page</a>
		</div>
	</main>
</div>