---
title: Installed · GNOME Extensions
layout: default
---
<div class="content">
	<main>
		<h1>Installed extensions</h1>

		<div class="card extensions-list flushed-when-narrow">
			<ul>
				<li>
					<a href="/extensions/detail">
						<img src="/assets/icon-extension.svg" alt="" class="extension-icon" />
						<div class="item-details">
							<strong>Extension name</strong>
							<span class="description">Description</span>
						</div>
					</a>
				</li>
				<li>
					<a href="/extensions/detail">
						<img src="/assets/icon-extension.svg" alt="" class="extension-icon" />
						<div class="item-details">
							<strong>Extension name</strong>
							<span class="description">Description</span>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="pagination">
			<!--<a href="#" class="prev">Previous page</a>-->

			<ul>
				<li><a href="#" class="number current">1</a></li>
				<li><a href="#" class="number">2</a></li>
				<li><a href="#" class="number">3</a></li>
				<li><span class="ellipsis">&hellip;</span></li>
				<li><a href="#" class="number">28</a></li>
			</ul>

			<a href="#" class="next">Next page</a>
		</div>
	</main>
</div>