/*

.box
====

A component similar to GtkBox or CSS' Flexbox that arranges children into a single row or column.

Box modifier classes
--------------------

- vertical
- horizontal

- spacing-none      (0)
- spacing-small     (8px)
- spacing-medium    (16px)
- spacing-large     (24px)

Box direct children classes
--------------------

- expand            Stretch child to fill available space (flex-grow: 1)
- keep-size         Keep child size (flex-grow: 0)


Object + modifier class options
-------------------------------

class="box vertical"
class="Box vertical"
class="box -vertical"
class="box -vertical -spacing-medium"
class="box -horizontal" data-viewport-narrow="-vertical"

class="box box--vertical box--spacing-medium"
class="box box--vertical box--spacing-medium" data-viewport-narrow="box--spacing-small"
class="box -vertical -spacing-medium" data-viewport-narrow="-spacing-small"

block
block-element
block -modifier

*/

.box {
    display: flex;
    flex-direction: column;

    /* fixme: use generic variable (so it can be used for gap, padding, etc */
    --spacing-none: 0;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
}

/* Orientation */
.box.vertical {
    flex-direction: column;
}
.box.horizontal {
    flex-direction: row;
}

/* Spacing */
.box.spacing-none {
    gap: 0;
}
.box.spacing-small {
    gap: var(--spacing-8);
}
.box.spacing-medium {
    gap: var(--spacing-16);
}
.box.spacing-large {
    gap: var(--spacing-24);
}

/* Child styles */
.box > .expand {
    flex-grow: 1;
}
.box > .keep-size {
    flex-grow: 0;
}

/* Padding (fixme) */

.pad-none {
    --pad: 0;
    padding: var(--pad);
}
.pad-small {
    --pad: var(--spacing-8);
    padding: var(--pad);
}
.pad-medium {
    --pad: var(--spacing-16);
    padding: var(--pad);
}
.pad-large {
    --pad: var(--spacing-24);
    padding: var(--pad);
}

/* Narrow viewport specific styles */

@media (width <= 768px) {
    /* Orientation */
    .box[data-viewport-narrow~="vertical"] {
        flex-direction: column;
    }
    .box[data-viewport-narrow~="horizontal"] {
        flex-direction: row;
    }
    
    /* Spacing */
    .box[data-viewport-narrow~="spacing-none"] {
        gap: var(--spacing-none);
    }
    .box[data-viewport-narrow~="spacing-small"] {
        gap: var(--spacing-small);
    }
    .box[data-viewport-narrow~="spacing-medium"] {
        gap: var(--spacing-medium);
    }
    .box[data-viewport-narrow~="spacing-large"] {
        gap: var(--spacing-large);
    }

    /* Child styles */
    .box > [data-viewport-narrow~="expand"] {
        flex-grow: 1;
    }
    .box > [data-viewport-narrow~="keep-size"] {
        flex-grow: 0;
    }
}
