/* Button

.ume-button {}
.ume-icon-button {}
.ume-button.ume-button--suggested {}

*/

/* Button */

/* Icon button */

.icon-button {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    background: var(--action-raised-background);
    text-decoration: none;
	color: inherit;
	border-radius: var(--action-radius);
    border: none;
    cursor: pointer;
}
.icon-button :is(img, svg) {
    width: 16px;
    height: 16px;
}
.icon-button:hover {
	background: var(--action-raised-background-hover);
}
.icon-button:active,
.icon-button[aria-expanded="true"] {
	background: var(--action-raised-background-active);
}

/* Action / Button */

:is(.action, .button) {
	background: var(--action-raised-background);
	padding: 6px 10px;
	font-size: var(--text-size-small);
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	border-radius: var(--action-radius);
	display: flex;
	gap: 6px;
	align-items: center;
	transition: var(--action-background-transition);
	border: 0;
	cursor: pointer;
}
:is(.action, .button) :is(img, svg) {
	width: 1rem;
	height: 1rem;
}
:is(.action, .button):hover {
	background: var(--action-raised-background-hover);
}
:is(.action, .button):active,
:is(.action, .button)[aria-pressed="true"],
:is(.action, .button)[aria-expanded="true"] {
	background: var(--action-raised-background-active);
}

/* Flat style */

:is(.action, .button, .icon-button).flat {
    background: var(--action-flat-background);
}
:is(.action, .button, .icon-button).flat:hover {
	background: var(--action-flat-background-hover);
}
:is(.action, .button, .icon-button).flat:active,
:is(.action, .button, .icon-button).flat[aria-pressed="true"],
:is(.action, .button, .icon-button).flat[aria-expanded="true"] {
	background: var(--action-flat-background-active);
}

/* Full-width */

:is(.action, .button).full-width {
    text-align: center;
    justify-content: center;
}

/* Styles that can be applied to <button> */

:is(.action, .button).suggested {
    background: var(--action-suggested-background);
    color: var(--action-suggested-foreground);
}

:is(.action, .button).suggested:hover {
    background: var(--action-suggested-background-hover);
}
:is(.action, .button).suggested:active {
    background: var(--action-suggested-background-active);
}

/* Dropdown arrow */

:is(.button, .icon-button).button--dropdown:after {
	content: "";
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(/assets/triangle-down-symbolic.svg);
	filter: brightness(10);
	/*top: calc(50% - 7px);
	right: 8px;*/
    margin-right: -4px;
}

/* Fixme */

.destructive-action {

}
.flat {

}
.raised {

}
.circular {

}
.pill {
    
}