/* Nav list */

.nav-list {
	display: flex;
	list-style: none;
	flex-direction: column;
	gap: 2px;
	padding: 0;
}
.nav-list li a {
	display: flex;
	color: inherit;
	text-decoration: none;
	padding: 8px;
	gap: 8px;
	align-items: center;
	border-radius: 6px;
	font-size: var(--text-size-small);
	background: var(--action-flat-background);
	transition: var(--action-background-transition);
}
.nav-list li a img {
	display: block;
	width: 16px;
	height: 16px;
}
.nav-list li a .label {
	flex: 1 1 auto;
}
.nav-list li a:hover {
	background: var(--action-flat-background-hover);
}
.nav-list li a:active {
	background: var(--action-flat-background-active);
}
.nav-list li a[aria-current="true"],
.nav-list li a[aria-current="location"],
.nav-list li a[aria-current="page"] {
	background: var(--action-flat-background-active);
}
.nav-list li.separator {
	background: var(--border-color);
	height: 1px;
	margin-block: 8px;
}