<!DOCTYPE html>
<html lang="en">
<head>
	<title>Manage ${ExtensionName} · GNOME Extensions</title>
	{% include 'meta.html' %}
</head>
<body>
	{% include 'main-header-v1.html' %}
	
	<div class="page-layout" data-default-narrow-view="nav">

		<header>
			<div data-hidden-condition="page-layout:main-only">
                <h1>Manage ${ExtensionName} extension</h1>
            </div>


            <hgroup data-hidden-condition="page-layout:nav-shown">
                <a href="#">
					[back]
					Manage ${ExtensionName}
				</a>
                <h1>Extension details</h1>
			</hgroup>
			
		</header>

		<nav>
			{% include 'manage-extension-nav.html' %}
		</nav>

		<main id="detail">
			<div class="card flushed-when-narrow">
				<div class="box horizontal" data-viewport-narrow="vertical">
					<div class="box horizontal spacing-medium" data-viewport-narrow="spacing-small">
						<img src="/assets/icons/check-plain-symbolic.svg" alt="">
						Your extension is active
					</div>

					<a href="#" class="action box:keep-size" data-box="keep-size">
						Manage versions
					</a>
				</div>
			</div>

			<div class="card flushed-when-narrow">
				card
			</div>
		</main>
	</div>

	{% include 'main-footer.html' %}
</body>
</html>