---
main-nav-active-item: 'extensions'
logged-in: false
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Manage ${ExtensionName} · GNOME Extensions</title>
	{% include 'meta.html' %}
</head>
<body>
	{% include 'main-header-v1.html' %}
	
	<div class="page-layout" data-default-narrow-view="main">

		<header>
			<div data-hidden-condition="page-layout:main-only">
                <h1>Manage ${ExtensionName} extension</h1>
            </div>


            <hgroup data-hidden-condition="page-layout:nav-shown">
                <a href="../">Manage ${ExtensionName}</a>
                <h1>Versions</h1>
			</hgroup>
			
		</header>

		<nav>
			{% include 'manage-extension-nav.html' %}
		</nav>

		<main>
			Versions
		</main>
	</div>

	{% include 'main-footer.html' %}
</body>
</html>