---
title: $ExtensionName · GNOME Extensions
layout: default
---
<div class="content">
	<main>
		<div class="extension-header">
			<img src="/assets/icon-extension.svg" alt="" class="extension-icon" />
			<hgroup>
				<h2>$ExtensionName</h2>
				<p>Extension by <a href="#">username</a></p>
			</hgroup>

			<!-- install / option controls -->
		</div>

		<div class="card extension-details flushed-when-narrow">
			<div class="extension-description rich-content">
				<p>Extension description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at lobortis enim.</p>
				<p>Nam tincidunt varius risus a euismod. Donec eros sem, volutpat id pretium ut, mollis sit amet nisl. Sed ultricies placerat elit sed viverra. Duis at blandit nisi. Etiam rhoncus maximus est id sodales. Sed ornare, massa eu posuere fringilla, risus felis finibus enim, quis ultrices felis leo et nunc.</p>
				<ul>
					<li>List item 1</li>
					<li>List item 2</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at lobortis enim.</li>
					<li>Mollis sit amet nisl. Sed ultricies placerat elit sed viverra. Duis at blandit nisi. Etiam rhoncus maximus est id sodales. Sed ornare, massa eu posuere fringilla, risus felis finibus enim, quis ultrices felis leo et nunc.</li>
				</ul>
			</div>

			<!--
			<div class="extension-thumbnail">
				<a href="#"><img src="_mockups/thumbnail.png" alt="" /></a>
			</div>
			-->

			<div class="extension-metadata">
				<dl>
					<dt>Homepage</dt>
					<dd class="single-line"><a href="#">https://gitlab.com/arcmenu/ArcMenu</a></dd>

					<dt>Author</dt>
					<dd>username</dd>

					<dt>Downloads</dt>
					<dd class="tabular-numbers">1.333.333</dd>

					<dt>Latest version</dt>
					<dd class="tabular-numbers">
						<a href="#">28 (March 1)</a>, compatible with GNOME 44
					</dd>
				</dl>

				<div class="extension-actions">
					<a href="/extensions/versions" class="action">All versions...</a>

					<!--
					<button id="download-button" class="action" popovertarget="download-popover">
						<img src="/assets/icon-download.svg" alt="">
						<span class="label">Download</span>
						<img src="/assets/triangle-down-symbolic.svg" alt="">
					</button>
					-->

					<span class="spacer" role="presentation"></span>

					<a href="#" class="action">
						<img src="/assets/icon-donate.svg" alt="">
						<span>Donate</span>
					</a>
					<a href="#" class="action">
						<img src="/assets/icon-bug.svg" alt="">
						<span>Report a bug</span>
					</a>
					<!--
					<a href="#" class="action">
						<img src="/assets/icon-new-review.svg" alt="">
						<span>Write a review</span>
					</a>
					-->
				</div>

				<!-- is="download-popover" -->
				<div class="popover" id="download-popover" popover="auto">
					<h3 class="visually-hidden">Download</h3>
					<svg class="visually-hidden" display="none" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<symbol id="download" width="16" height="16" viewbox="0 0 16 16">
							<path d="M8 0.5C7.44922 0.5 7 0.949219 7 1.5V10.0859L4.70703 7.79297C4.51953 7.60547 4.26562 7.5 4 7.5C3.73438 7.5 3.48047 7.60547 3.29297 7.79297C2.90234 8.18359 2.90234 8.81641 3.29297 9.20703L7.29297 13.207C7.68359 13.5977 8.31641 13.5977 8.70703 13.207L12.707 9.20703C13.0977 8.81641 13.0977 8.18359 12.707 7.79297C12.3164 7.40234 11.6836 7.40234 11.293 7.79297L9 10.0859V1.5C9 0.949219 8.55078 0.5 8 0.5ZM2 14.5V16.5H14V14.5H2Z" fill="currentColor"/>
						</symbol>
						<symbol id="checkmark" width="16" height="16" viewbox="0 0 16 16">
							<path d="M13.7539 4.6562C13.9297 4.45698 14.0156 4.19526 14 3.93354C13.9805 3.66792 13.8594 3.42182 13.6602 3.24604C13.4609 3.07026 13.1992 2.98042 12.9336 2.99995C12.668 3.01557 12.4219 3.14057 12.2461 3.33979L5.94922 10.5351L3.70703 8.28901C3.31641 7.89838 2.68359 7.89838 2.29297 8.28901C2.10547 8.47651 2 8.73432 2 8.99995C2 9.26557 2.10547 9.51948 2.29297 9.70698L5.29297 12.707C5.48828 12.9023 5.75781 13.0078 6.03516 12.9999C6.3125 12.9882 6.57031 12.8671 6.75391 12.6562L13.7539 4.6562Z" fill="currentColor"/>									
						</symbol>
					</svg>
					<div class="popover-body">
						<div class="gnome-version">
							<h4>GNOME Version</h4>
							<ul>
								<li><a href="#" aria-selected="true">44</a></li>
								<li><a href="#">43</a></li>
								<li><a href="#">42</a></li>
							</ul>
						</div>
						<div class="extension-version">
							<h4>Extension version</h4>
							<ul>
								<li>
									<span class="version">69</span>
									<span class="date-published">1 January 2000</span>
									<a href="./" class="download" download aria-label="Download version 69">
										<svg><use xlink:href="#download" /></svg>
									</a>
								</li>
								<li>
									<span class="version">68</span>
									<span class="date-published">1 January 2000</span>
									<a href="./" class="download" download aria-label="Download version 68">
										<svg><use xlink:href="#download" /></svg>
									</a>
								</li>
								<li>
									<span class="version">67</span>
									<span class="date-published">1 January 2000</span>
									<a href="./" class="download" download aria-label="Download version 67">
										<svg><use xlink:href="#download" /></svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<section class="user-reviews">
		<h3>User reviews</h3>

		<div class="boxed-list flushed-when-narrow">
			<article class="row user-review">
				<h4 class="date"><time datetime="2023-03-25" title="2023-03-25">25 March 2023</time></h4>
				<div class="user-review-body">
					<div class="rating">
						<span class="visually-hidden">Rating: 2 of 5</span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star"></span>
					</div>
					<p>I like this extension, it should be part of GNOME</p>
					<p>From last update there is a too large space between rows. I use 2 row setting like this: y-MM-dd\nHH:mm:ss.</p>
					<p>Is possible to change it back ?</p>
				</div>
				<footer>
					<p>
						&ndash; <span class="visually-hidden">Posted by</span> <a href="#">username</a>
					</p>
				</footer>
			</article>

			<article class="row user-review">
				<h4 class="date"><time datetime="2023-03-25" title="2023-03-25">25 March 2023</time></h4>
				<div class="user-review-body">
					<div class="rating">
						<span class="visually-hidden">Rating: 5 of 5</span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
					</div>
					<p>Absolutely needed</p>
				</div>
				<footer>
					<p>
						&ndash; <span class="visually-hidden">Posted by</span> <a href="#">username</a>
					</p>
				</footer>
			</article>

			<article class="row user-review">
				<h4 class="date"><time datetime="2023-03-25" title="2023-03-25">25 March 2023</time></h4>
				<div class="user-review-body">
					<div class="rating">
						<span class="visually-hidden">Rating: 5 of 5</span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
						<span class="star filled"></span>
					</div>

					<p>This extension is so useful when you start adding, removing and deactivating a lot of gnome extensions.</p>
					<p>This is especially the case when you try a lot of extensions just to see if it improves your personal workflow.</p>
					<p>Also when a bigger gnome update is released and a lot of stuff is broken suddenly on your desktop this extensions helps you to get control back fast!</p>
				</div>
				<footer>
					<p>
						&ndash; <span class="visually-hidden">Posted by</span> <a href="#">username</a>
					</p>
				</footer>
			</article>

			<div class="row">
				<a href="#" class="show-more">Show more reviews</a>
			</div>
		</div>
	</section>
</div>