---
layout: default
---
<div class="content">
    <main>
        <hgroup>
            <p class="caption">
                <a href="/extensions/detail">
                    ${ExtensionName}
                </a>
            </p>
            <h1>Versions</h1>

            <div class="card flushed-when-narrow">
                Versions

                <hr />
            </div>
        </hgroup>
    </main>
</div>